<div id="event-modal" class="modal" style="display:none;">
  <div class="modal__backdrop" id="modal-backdrop"></div>
  <div class="modal__box">
    <button class="modal__close" id="modal-close">&times;</button>

    <img id="modal-flyer" class="modal__flyer" src="" alt="Event flyer">

    <div class="modal__category" id="modal-category"></div>
    <h3 class="modal__name" id="modal-name"></h3>
    <div class="modal__datetime" id="modal-datetime"></div>
    <div class="modal__venue" id="modal-venue"></div>
    <p class="modal__description" id="modal-description"></p>
    <div class="modal__rsvp" id="modal-rsvp"></div>

    <div class="modal__register-row">
      <div class="modal__qr">QR</div>
      <a id="modal-register-link" class="btn btn--dark" href="#" target="_blank">REGISTER HERE</a>
    </div>
  </div>
</div>
