<section id="what-we-do" class="what-we-do">
  <div class="what-we-do__item">
    <div class="what-we-do__image"></div>
    <div class="what-we-do__title">MUSIC</div>
    <div class="what-we-do__desc">Live sets & concerts</div>
  </div>
  <div class="what-we-do__item">
    <div class="what-we-do__image"></div>
    <div class="what-we-do__title">FASHION</div>
    <div class="what-we-do__desc">Runway showcases</div>
  </div>
  <div class="what-we-do__item">
    <div class="what-we-do__image"></div>
    <div class="what-we-do__title">FILM</div>
    <div class="what-we-do__desc">Screenings & premieres</div>
  </div>
</section>
